body {
  font-family: sans-serif;
  background: #303030;
}

input {
  border-radius: 16px;
  border: none;
  padding: 8px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  outline: none;
}

button:hover {
  background: orangered;
  color: #fff;
  cursor: pointer;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  color: #fff;
}

.incomplete-area {
  background: #2a2a2a;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3) inset;
  width: 400px;
  min-height: 200px;
  padding: 16px;
  margin: 8px;
  border-radius: 4px;
}

.complete-area {
  background: #2a2a2a;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3) inset;
  width: 400px;
  min-height: 200px;
  padding: 16px;
  margin: 8px;
  border-radius: 4px;
}

.title {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.list-row {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 16px 0;
}

.list-row p {
  margin-right: 8px;
}

.list-row button {
  margin: 0 4px;
}
