body {
  font-family: sans-serif;
  background: #303030;
}

input {
  border-radius: 16px;
  border: none;
  padding: 8px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  outline: none;
}

button:hover {
  background: orangered;
  color: #fff;
  cursor: pointer;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  color: #fff;
}

.title {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.list-row {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 16px 0;
}

.list-row p {
  margin-right: 8px;
}

.list-row button {
  margin: 0 4px;
}

.alert {
  margin: 8px;
  color: orangered;
}
